/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 10px;
}

@media (max-width: 600px) {
    #game-container {
        padding: 10px;
    }
    input, button {
        width: 100%;
        margin: 5px 0;
    }
}

.card-panel {
    border-radius: 8px;
}
.btn {
    margin-top: 20px;
}

#start-playback {
    display: block;
    margin: 20px auto; /* Centers horizontally */
    text-align: center;
}
